body {
  color: whitesmoke;
  background-color: #074371;
  text-align: center;
  vertical-align: middle;
  height: auto;
}

.inputBox {
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  color: white;
}

input:focus {
  outline: none;
}

.clicked {
  color: #7f8c8d;
}

.toDo {
  font-size: 28px;
}

::placeholder,
input:focus {
  color: white;
}

.form,
.greetings {
  display: none;
}

.js-greetings {
  font-size: 35px;
}
.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.js-toDoList {
  text-align: left;
  vertical-align: middle;
  width: 300px;
  padding-left: 40%;
  font-size: 26px;
  margin-bottom: 22px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

input:focus::placeholder {
  color: transparent;
}

button {
  background-color: transparent !important;
  border: none;
  font-size: 17px;
  padding-left: 0;
  padding-top: 0;
  padding-top: 0;
  padding-right: 2px;
  width: max-content;
}

button:focus {
  border: none;
  outline: none;
}

.js-clock {
  margin-top: 10%;
  font-size: 45px;
}

.js-weather {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
}
